extends ../../3.x-layouts/_layout

block content
  header.page-heading
    :markdown
      ## Documentation

      [2.x Documentation](http://getkickstrap.com.s3-website-us-east-1.amazonaws.com/2.x/)

