extends layout

block content
  h1 Test runner proof of concept

  p The button on the left will expect you to press the button on the right in three seconds.
  p Open your console to see test runner output.
  button Press me first
  &nbsp;
  button Press me second
