extends ../../_layout

block hero-title
  h1 Forms

block variables
  - var showFooter = false
  - var title = "Forms"

block ui-stylesheet
  link(rel="stylesheet" href="/css/pages/docs/ui/forms.min.css")

block documents
  .document
    article.article
      :markdown
        # Basic form

        Forms take several orientations and have versatile validation styles.

      .example
        // For testing
          - var $types = ['button', 'color', 'date', 'datetime', 'datetime-local', 'email', 'file', 'image', 'month', 'number', 'password', 'tel', 'search', 'text', 'time', 'url', 'week']
          - for $type in $types
            input(type="#{$type}" value="foo")
        form.form
          .form_group
            label First Name
            input(type="text" placeholder="John")

          .form_group
            label Last Name
            input(type="text" placeholder="Smith")

          .form_group
            label Avatar
            input(type="file")

          .form_group
            label Issue size

            label(for="small")
              input(type="radio" name="issue" id="small")
              | Small issue

            label(for="regular")
              input(type="radio" name="issue" id="regular")
              | Regular issue

            label(for="large")
              input(type="radio" name="issue" id="large")
              | Large issue

          .form_group
            label Shipping options

            label(for="fastshipping")
              input(type="checkbox" id="fastshipping")
              | Fast shipping

            label(for="giftwrapping")
              input(type="checkbox" id="giftwrapping")
              | Gift wrapping

          .form_group
            label Subscription frequency
            select
              option Daily
              option Weekly
              option Monthly
              option Yearly

          .form_group
            label Bio
            textarea

          input(value="Subscribe" type="submit" role="button")

        .ifnot-semantic
          :markdown
            Wrap sets of form elements in a `.form_group` to keep
            proper spacing.

        .if-semantic
          :markdown
            Wrap sets of form elements in an element using `form_group()` to keep
            proper spacing.

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <form class="form">
                <div class="form_group">
                  <label for="fname">First name</label>
                  <input id="fname" type="text" />
                </div>
                <div class="form_group">
                  <label for="lname">Last name</label>
                  <input id="lname" type="text" />
                </div>
                <div class="form_group">
                  <label for="file">Avatar</label>
                  <input id="file" type="file" />
                </div>
                <div class="form_group">
                  <label>Issue Size</label>

                  <label>
                    <input id="small" type="checkbox" />
                    Small
                  </label>

                  <label>
                    <input id="small" type="checkbox" />
                    Regular
                  </label>

                  <label>
                    <input id="small" type="checkbox" />
                    Large
                  </label>
                </div>
                ...
                <input type="submit" />
              </form>

      .if-semantic
        :markdown
          <span>

              <form>
                <div class="group">
                  <label for="fname">First name</label>
                  <input id="fname" type="text" />
                </div>
                <div class="group">
                  <label for="lname">Last name</label>
                  <input id="lname" type="text" />
                </div>
                <div class="group">
                  <label for="file">Avatar</label>
                  <input id="file" type="file" />
                </div>
                <div class="group">
                  <label>Issue Size</label>

                  <label>
                    <input id="small" type="checkbox" />
                    Small
                  </label>

                  <label>
                    <input id="small" type="checkbox" />
                    Regular
                  </label>

                  <label>
                    <input id="small" type="checkbox" />
                    Large
                  </label>
                </div>
                ...
                <input type="submit" />
              </form>

              form {
                @include form();
              }
              .group {
                @include form_group();
              }

  .document
    article.article
      :markdown
        # Horizontal

        `textarea` elements are not included in default styling of horizontal
        forms.

      form.form.form-horizontal
        .form_group.form_group-horizontal
          label First Name
          input(type="text" placeholder="John") 
          input(type="submit" role="button")

      .if-semantic
        :markdown
          Both the `form()` and `form_group()` mixins need to pass in `horizontal`
          as a parameter. This is because it is possible to have a vertical
          form with both horizontal and vertical form groups

      .ifnot-semantic
        :markdown
          Simply add `.form-horizontal` to `.form` to convert to a horizontal form.

    article.code
      .if-semantic
        :markdown
          <span>

              <form>
                <div class="group">
                  <label for="fname">First name</label>
                  <input name="fname" type="text" />
                  <input type="submit" />
                </div>
              </form>
        
        :markdown
          <span>

              form {
                @include form('horizontal');
              }
              .group {
                @include form_group('horizontal');
              }

      .ifnot-semantic
        :markdown
          <span>

              <form class="form form-horizontal">
                <div class="form_group">
                  <label for="fname">First name</label>
                  <input name="fname" type="text" />
                  <input type="submit" />
                </div>
              </form>
  
  .document
    article.article
      :markdown
        # Left-aligned

        For left-aligned forms, simply use the grid.

        - Add `row` to the `form_group`
        - Add column styles to labels
        - Either put inputs and text fields in column elements
          or apply column styling directly.

      form.form.form-left
        .form_group.row
          label.col-third First Name
          .col-twothirds
            input(type="text" placeholder="John")

        .form_group.row
          label.col-third Last Name
          .col-twothirds
            input(type="text" placeholder="Smith")

        .form_group.row
          label.col-third Bio
          .col-twothirds
            textarea

        .form_group.row
          label.checkbox.col-twothirds.col-left-third
            input(type="checkbox")
            |  Sign up for newsletter

        .form_group.row
          label.col-third Industry
          .col-twothirds
            select
              option Academic
              option Automotive
              option Finance
              option Government
              option Medical
              option Restaurant
              option Technology

        .row
          .col-twothirds.col-left-third
            input.button.button-primary(type="submit" role="button")

      :markdown
        **Using checkboxes and radio buttons**: Because the
        left-aligned form will right-align labels, you'll need to
        specify your checkbox and radio button labels as either
        `.checkbox` or `.radio` to preserve left-alignment.
        (Or apply this via CSS.)


    article.code
      .ifnot-semantic
        :markdown
          <span>

              <form class="form form-left">
                <div class="form_group row">
                  <label for="fname" class="col-third">First name</label>
                  <div name="col-twothirds" class="input">
                    <input type="text" placeholder="john" />
                  </div>
                </div>
                <div class="form_group row">
                  <label for="lname" class="col-third">Last name</label>
                  <div name="lname" class="twothirds">
                    <input type="text" placeholder="Smith" />
                  </div>
                </div>
                <div class="form_group row">
                  <label for="bio" class="col-third">Bio</label>
                  <div name="bio" class="col-twothirds">
                    <textarea name="bio"></textarea>
                  </div>
                </div>
                <div class="form_group row">
                  <label class="checkbox col-twothirds col-left-third">
                    <input type="checkbox" />
                    Sign up for newsletter
                  </label
                </div>
                <div class="form_group row">
                  <label for="industry" class="col-third">Industry</label>
                  <div name="industry" class="input" class="col-twothirds">
                    <select>
                      <option>Academic</option>
                      ...
                    </select>
                  </div>
                </div>
                <footer class="row">
                  <div class="col-twothirds col-left-third">
                    <input type="submit" role="button" class="button button-primary" />
                  </div>
                </footer>
              </form>

      .if-semantic
        :markdown
          <span>

              <form>
                <div class="fname">
                  <label for="fname">First name</label>
                  <div name="fname" class="input">
                    <input type="text" placeholder="john" />
                  </div>
                </div>
                <div class="lname">
                  <label for="lname">Last name</label>
                  <div name="lname" class="input">
                    <input type="text" placeholder="Smith" />
                  </div>
                </div>
                <div class="bio">
                  <label for="bio">Bio</label>
                  <div name="bio" class="input">
                    <textarea name="bio"></textarea>
                  </div>
                </div>
                <div class="newsletter">
                  <label class="checkbox">
                    <input type="checkbox" />
                    Sign up for newsletter
                  </label
                </div>
                <div class="industry">
                  <label for="industry">Industry</label>
                  <div name="industry" class="input">
                    <select>
                      <option>Academic</option>
                      ...
                    </select>
                  </div>
                </div>
                <footer>
                  <div class="submit">
                    <input type="submit" role="button" class="button" />
                  </div>
                </footer>
              </form>

              form {
                @include form($layout: 'left');

                footer {
                  @include row();
                }
              }
              .fname, .lname, .bio, .newsletter, .industry {
                @include form_group();
                @include row();
              }
              label {
                @include column('third');
              }
              .input {
                @include column('twothirds');
              }
              .checkbox {
                @include column('twothirds', $left: 'third');
              }
              .submit {
                @include column('twothirds', $left: 'third');

                input {
                  +button($primary-color)
                }
              }

  .document
    article.article
      :markdown
        # Mixed

        Use several orientations in one form element

      form.form
        .form_group
          label Name
          input(type="text")

        .form_group
          label Email
          input(type="email")

        label City, state, zip

        .form_group.form_group-horizontal
          input(type="text" style="width: 125px")
          input(type="text" style="width: 50px")
          input(type="number" style="width: 100px")

        .form_group.form_group-horizontal
          label Prefix
          input(type="text" style="width: 50px")

          label Suffix
          input(type="text" style="width: 50px")

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <form class="form">
                <div class="form_group">
                  <label for="name">Name</label>
                  <input id="name" type="text" />
                </div>
                <div class="form_group">
                  <label for="email">Email</label>
                  <input id="email" type="text" />
                </div>
                <label for="citystate">City, state, zip</label>
                <div class="form_group form_group-horizontal">
                  <input id="citystatezip" type="text" style="width: 125px" />
                  <input type="text" style="width: 75px" />
                  <input type="number" style="width: 100px" />
                </div>
                <div class="form_group form_group-horizontal">
                  <label for="prefix">Prefix</label>
                  <input type="text" style="width: 75px" id="prefix" />

                  <label for="suffix">Suffix</label>
                  <input type="text" style="width: 75px" id="suffix" />
                </div>
              </form>

      .if-semantic
        :markdown
          <span>

              <form>
                <div class="group">
                  <label for="name">Name</label>
                  <input id="name" type="text" />
                </div>
                <div class="group">
                  <label for="email">Email</label>
                  <input id="email" type="text" />
                </div>
                <label for="citystate">City, state, zip</label>
                <div class="location">
                  <input id="citystatezip" type="text" style="width: 125px" />
                  <input type="text" style="width: 75px" />
                  <input type="number" style="width: 100px" />
                </div>
                <div class="extra">
                  <label for="prefix">Prefix</label>
                  <input type="text" style="width: 75px" id="prefix" />

                  <label for="suffix">Suffix</label>
                  <input type="text" style="width: 75px" id="suffix" />
                </div>
              </form>

              form {
                @include form();
              }
              .group {
                @include form_group();
              }
              .location, extra {
                @include form_group('horizontal');
              }

  .document
    article.article
      :markdown
        # States

        Disabled inputs are grayed out and receive a disabled cursor.

      input(type="email" disabled value="john@example.com")

    article.code
      :markdown
        <span>

            <input type="email" value="john@example.com" disabled />

  .document
    article.article
      :markdown
        # Validation

        Three classes can be used to style form components for
        validation: `error(s)`, `success(es)`, and `warning(s)`.

        ## Singular

        The classes can be directly applied to the elements:

      form.form
        .form_group
          input.error(type="email" value="john.mail.com")
          p.error Please enter a valid email

    article.code
      :markdown
        <span>

            <input class="error" type="email" />
            <p class="error">Please enter a valid email</p>

  .document
    article.article
      :markdown
        ## Plural

        Or to a **direct** parent via the plural class.

        When using the plural class, this can be wrapped below the form
        group element to select exactly the parts that need to be colored.

      form.form
        .form_group
          .errors
            input(type="email" value="john.mail.com")
            p Please enter a valid email

      form.form
        .form_group
          .errors
            input(type="email" value="john.mail.com")
            p Please enter a valid email

    article.code
      :markdown
        <span>

            ...
            <div class="form_group">
              <div class="errors">
                <input type="email" />
                <p>Please enter a valid email</p>
              </div>
            </div> 

            <div class="form_group">
              <div class="sucesses">
                <input type="text" id="name" />
                <p>Username is available!</p>
              </div>
            </div>
            ...
        

  .document
    article.article
      h1 Success

      form.form
        .form_group
          label.success First Name
          input.success(type="text" placeholder="John")
          p.success Thanks!

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <div class="form_group">
                <label class="success" for="fName">
                <input class="success" type="text" placeholder="John" name="fName"/>
                <p class="warning">Thanks!</p>
              </div>

      .if-semantic
        :markdown
          <span>

              <div class="form_group">
                <label class="success" for="fName">
                <input class="success" type="text" placeholder="John" name="fName"/>
                <p class="warning">Thanks!</p>
              </div>

              form {
                @include form();
              }
              .form_group {
                @include form_group();
              }

  .document
    article.article
      h1 Error

      form.form
        .form_group
          label.error First Name
          input.error(type="text" placeholder="John")
          p.error Please enter a valid first name


    article.code
      .ifnot-semantic
        :markdown
          <span>

              <div class="form_group">
                <label class="error" for="fName">
                <input class="error" type="text" placeholder="John" id="fName"/>
                <p class="error">Please enter a valid first name</p>
              </div>

      .if-semantic
        :markdown
          <span>

              <div class="form_group">
                <label class="error" for="fName">
                <input class="error" type="text" placeholder="John" id="fName"/>
                <p class="error">Please enter a valid first name</p>
              </div>

              form {
                @include form();
              }
              .form_group {
                @include form_group();
              }

  .document
    article.article
      h1 Warning

      form.form
        .form_group
          label.warning First Name
          input.warning(type="text" placeholder="John")
          p.warning This information will be public

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <div class="form_group">
                <label class="warning" for="fName">
                <input class="warning" type="text" placeholder="John" name="fName"/>
                <p class="warning">This information will be public</p>
              </div>

      .if-semantic
        :markdown
          <span>

              <div class="form_group">
                <label class="warning" for="fName">
                <input class="warning" type="text" placeholder="John" name="fName"/>
                <p class="warning">This information will be public</p>
              </div>

              form {
                @include form();
              }
              .form_group {
                @include form_group();
              }

  .document
    article.article
      h1 Mixed

      p Just an example of using multiple error classes, both plural and singluar.

      form.form
        .form_group
          .errors
            label First Name
            input(type="text" placeholder="John")
            p Please enter a valid first name.

        .form_group
          .warnings
            label Last Name
            input(type="text" placeholder="Smith")
            p We already have a user by this name. Are you sure about this?

        .form_group
          .successes
            label Last Name
            input(type="text" placeholder="Smith")
            p We already have a user by this name. Are you sure about this?

        .form_group
          label.success Issue size
          label
            input(type="radio" name="issue")
            | Small issue
          label.success
            input.success(type="radio" name="issue")
            | Regular issue
          p.success Great choice!
          label
            input(type="radio" name="issue")
            | Large issue

        .form_group
          label.error Shipping options
          label
            input(type="checkbox")
            |  Fast shipping
          label.error
            input(type="checkbox")
            |  Gift-wrapping
          p.error Sorry, this is not available at this time.

        .form_group
          label.warning Subscription frequency
          select.warning
            option Daily
            option Weekly
            option Monthly
            option Yearly
          p.warning Please be advised, it takes 1 week to change this subscription option

        .form_group
          .successes
            label Bio
            textarea
            p Great bio!

        input(value="Subscribe" type="submit" role="button")

    article.code
      :markdown
        <span>

            // See individual snippets above.
