extends ../../_layout

block hero-title
  h1 Icons

block variables
  - var showFooter = false
  - var title = "Icons"

block documents
  .document
    article.article.article-full
      :markdown 
        In an effort not to reinvent the wheel and reduce Kickstart down to its bare essentials,
        Icons are not part of the standard bundle for Kickstart.

        I recommend using [Font Awesome](http://fortawesome.github.io/Font-Awesome/) if your
        project needs icons.


