.document
  article.article
    :markdown
      ### Firing on ready

      Some of your JavaScript will need to run once the DOM is ready. In Rails, this can be a little mysterious, 
      especially when using jquery-ujs. Here's one way to ensure this code fires at the right time.

  article.code
    .if-jquery
      :markdown
        <span>

            var ready = function() {
              // Your code
            }
            $(document).ready(ready);
            $(document).on("page:load", ready);

    .ifnot-jquery
      :markdown
        <span>
          
            function ready(fn) {
              if (document.readyState!='loading') {
                fn();
              }
              else {
                document.addEventListener('DOMContentLoaded', fn);
              }
            }

            ready(function() {
              // Your code
            });

