.document
  article.article.article-full
    :markdown
      # Quickstart

      Installation instructions are available for [Simple HTML](#barebones), [Rails](#rails), [Gulp](#gulp), and [Jekyll](#jekyll)
