extends ../3.x-layouts/_layout

block variables
  - var showFooter = false
  - var title = "Amadeus"

block menuVars
  - var menuItem = "amadeus" 

block page-stylesheet 
  link(rel="stylesheet" href="/css/pages/docs/index.css")

block content
  div.docs-nav.amadeus(data-ks-navbar)
    nav
      ul
        li.navbar-title Amadeus

      ul
        li
          a(href="https://github.com/adamjgrant/Amadeus") On GitHub

  main.main
    .fixed-area
      #marker
      aside.fixed-toc
        #toc
          p.creating-table Creating table of contents...

      main.fixed-main
        section.document-container
          .document
            article.article.article-full.article-blank(data-render="docs")

    .push

block postJS
  script document.addEventListener('DOMContentLoaded', function() {k$.loadReadme('amadeus')})
