extends ../../_layout

block hero-title
  h1 Extend

block docVars
  - var variations = false

block subMenuVars
  - var subMenuItem = "functions"

block variables
  - var showFooter = false
  - var title = "Extend Function"

block documents
  .document
    article.article
      :markdown
        `k$.extend()` merges two JavaScript objects.

        Here we have a "default" object, the `employee`. There are also two employee objects, `alex` and `jesse`.

    article.code
      :markdown
        <span>

            var employee = {
              role: 'cashier',
              location: 'Atlanta, GA'
            }

            var alex = {
              name: 'Alex'
            }

            var jesse = {
              name: 'Jesse',
              role: 'CEO',
              location: 'NYC'
            }

  .document
    article.article
      :markdown
        Let's see what happens when we extend `employee` to `alex` and `jesse`.

    article.code
      :markdown
        <span>

            alex = k$.extend(employee, alex)

            jesse = k$.extend(employee, jesse) 

  .document
    article.article
      :markdown
        Here's the output for each:

    article.code
      :markdown
        <span>

            // alex

            {
              role: 'cashier',
              location: 'Atlanta, GA',
              name: 'Alex'
            }

            // jesse
            
            {
              role: 'CEO',
              location: 'NYC',
              name: 'Jesse'
            }
