extends ../../_layout

block hero-title
  h1 Typography

block variables
  - var showFooter = false
  - var title = "Typography"

block ui-stylesheet
  link(rel="stylesheet" href="/css/pages/docs/ui/typography.min.css") 

block documents
  .document
    article.article
      p By default, the standard set of typography tags will look like this:

      .example
        h1.toc-exempt Heading 1
        h2.toc-exempt Heading 2
        h3.toc-exempt Heading 3
        h4.toc-exempt Heading 4
        h5.toc-exempt Heading 5
        h6.toc-exempt Heading 6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p
          em Emphasized
        p
          strong Strong

    article.code
      :markdown
        <span>

            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>
              <em>Emphasized</em>
            <p>
            <p>
              <strong>Strong</strong>
            <p>

  .document
    article.article.article-full
      h1 Responsive
      p Font sizes and line-heights are set with responsive sizing based on the viewport width. Try changing the size of this screen or view on a different-sized screen for an example.

  .document
    article.article 
      h1 Content-optimized
      p.if-semantic
        | To use content-optimized default paragraph text, simply pass in&nbsp;
        code true
        |  to&nbsp;
        code p()
      p.if-semantic Direct descendants will also acquire these styles, so this can be applied to a parent container as well.
      p.ifnot-semantic
        | Classes with&nbsp;
        code .semantic
        |  and their direct descendants will be optimized for content.

      .example
        p.readable Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p.readable Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    article.code
      .if-semantic
        :markdown
          <span>

              <p class="readable">Lorem...</p>

              p.readable {
                @include p(true);
              }

      .ifnot-semantic
        :markdown
          <span>

              <p class="readable">Lorem...</p>

          or

              <div class="readable">
                <p>Lorem...</p>
              </div>

  .document
    article.article
      h1 Headers
      p Create spacious, dominating header lines

      .example
        header.page-heading
          h1.toc-exempt How to cook a pie
        p The first step to cooking a pie is to choose a fancy tin.

    article.code
      :markdown
        <span>

            <header class="page-heading">
              <h1>How to cook a pie</h1>
            </header>
            <p>The first step to cooking a pie is to choose a fancy pie tin.</p>

            .page-heading {
              @include page-heading();
            }

  .document
    article.article
      :markdown
        # Lists

        Sometimes bullets are annoying. Kickstart provides a couple ways of displaying unstyled lists:

        ## Unstyled vertical

      ul.list.list-unstyled
        li Apples
        li Bread
        li Nuts
        li Sugar
        li Flour

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <ul class="list list-unstyled">
                <li>Apples</li>
                <li>Bread</li>
                ...
              </ul>

      .if-semantic
        :markdown
          <span>

              <ul class="groceries">
                <li>Apples</li>
                <li>Bread</li>
                ...
              </ul>

              .groceries {
                @include list($style: 'unstyled');
              }

  .document
    article.article
      :markdown
        ## Unstyled horizontal

      ul.list.list-unstyled.list-horizontal
        li Apples
        li Bread
        li Nuts
        li Sugar
        li Flour

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <ul class="list list-unstyled list-horizontal">
                <li>Apples</li>
                <li>Bread</li>
                ...
              </ul>

      .if-semantic
        :markdown
          <span>

              <ul class="groceries">
                <li>Apples</li>
                <li>Bread</li>
                ...
              </ul>

              .groceries {
                @include list($style: 'unstyled', $layout: 'horizontal');
              }

  include ../../_includes/typography/_sizes.jade
