extends ../3.x-layouts/_layout

block variables
  - var showFooter = true
  - var title = "About"

block menuVars
  - var menuItem = "about"

block page-stylesheet
  link(rel="stylesheet" href="/css/pages/docs/index.css")

block content
  .wrapper
    :markdown
      # About

      Kickstart began as "Kickstrap", a tool to extend Bootstrap. The goal was to create a layer
      where users could write their own customizations and add community extensions. This layer
      would be separate from the Bootstrap core allowing Bootstrap itself to stay up to date
      without affecting the project's customizations.

      In the third version of Kickstrap, Bootstrap has been removed entirely, hence the renaming
      as "Kickstart". Kickstart 3 is now its own CSS library.

      ## Why another CSS library?

      With the previous two versions of Kickstrap, I became very familiar with the intricacies of
      CSS and frameworks like Bootstrap, Foundation, and Bourbon. I noticed the following:

      - Frameworks are huge and slow
      - Difficult to extend
      - Have only one or a few themes. Who wants a framework that makes your site look like
        everyone else's?

      Extensibility is a #1, unfulfilled need in the world of frameworks.  Kickstart is solving this
      with its own native solution, the [Kickstart Store](http://kickstart.everything.io).

      ## Why aren't your docs accessible

      When I wrote the docs, I assumed I would get backlash for not writing `aria-this` and `aria-that`
      throughout the examples. Why don't I do this?

      1. I make the assumption you are a competent engineer who can decide how you want to write your HTML.
      2. The examples are intentionally abridged. I don't always include `<body>` or `<html>`
         and sometimes I write `...` to indicate abridged components because, see #1.
      2. [Accessibility is an entirely separate world of documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA)
         available in rich detail online. I'm not interested in duplicating it. There is already so much to maintain on Kickstart that I
         happily choose to exclude it so I can focus on the actual features of Kickstart.
      2. Mingling accessibility documentation with the library's documentation doesn't make the library
         itself more or less accessible.
      3. Implementation is up to you and accessibility extends beyond the use of HTML attributes. I also
         don't provide guidelines for principles of design that lend to usability and accessibility.
