extends ../../_layout

block hero-title
  h1 Labels

block variables
  - var showFooter = false
  - var title = "Labels"

block ui-stylesheet
  link(rel="stylesheet" href="/css/pages/docs/ui/labels.min.css")

block documents
  .document
    article.article
      :markdown
        Labels are simple inline containers that share some of the base element styling in Kickstart.
        Great for drawing attention without visual overload.

      .example
        span.label Attention

      :markdown
        Labels are pretty straightforward. Ideally, `span` elements should be labels
        but the styling can be applied to almost anything.

    article.code
      .if-semantic
        :markdown
          <span>

              <span class="attention">Attention</span>

              .attention {
                @include label();
              }

      .ifnot-semantic
        :markdown
          <span>

              <span class="label">Attention</span>

  .document
    article.article
      :markdown
        Labels can also be styled much the same way you would with a button.

      .example
        span.label.label-red Please correct
        | &nbsp;
        span.label.label-green New!

      .if-semantic
        p Pass in any color to `label()`

      +available-colors('label')

    article.code
      .if-semantic
        :markdown
          <span>

              <span class="error">Please correct</span>
              <span class="notice">New!</span>

              .error {
                @include label(map-get($colors, red));
              }
              .notice {
                @include label($primary-color);
              }

      .ifnot-semantic
        :markdown
          <span>

              <span class="label label-red">Please correct</span>
              <span class="label label-blue">New!</span>

