.document
  article.article
    :markdown
      ## Coloring navbar

    .navbar.navbar-blue
      nav
        ul
          li: a(href="#") Home
          li: a(href="#") Blog

    :markdown
      Coloring the navbar just means changing the color of the container. However,
      darker colors might mean using lighter colors for the text for better contrast.

      For this, pass in a color to the `$background` parameter of `navbar()`

      `navbar()` will try to guess if the color is dark enough to warrant
      lighter text and automatically switch to white if so.

  article.code
    .if-semantic
      :markdown
        <span>

            @include navbar($background-color: #333) 

    .ifnot-semantic
      :markdown
        For a darker navbar with lighter text, use `.navbar-dark`

            <div class="navbar-dark">
              <nav>
                ...
              <nav>
            </div>
