.document
  article.article
    :markdown
      ## Dropdowns

      To create a dropdown, simply nest another `ul` in one of your `li`s.

      Dropdowns require the `data-ks-navbar` attribute. Optionally, these can
      be instantiated manually via the `k$.nav(el)` function. `el` is
      the selector for the navbar container.

    .navbar(data-ks-navbar)
      nav
        ul
          li
            | Options
            ul
              li
                a(href="#") Option 1
              li
                a(href="#") Option 2
              li
                a(href="#") Option 3

  article.code
    :markdown
      <span>

          <div class="navbar" data-ks-navbar>
            <ul>
              <li>Options
                <ul>
                  <li>
                    <a href="#">Option1</a>
                  </li>
                  <li>
                    <a href="#">Option2</a>
                  </li>
                  <li>
                    <a href="#">Option3</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

    :markdown
      <span>

          k$.navbar('.navbar')
