include ../../../../_mixins

.document
  article.article
    h2 Responsive

    :markdown
      ### Collapse items

      To use a collapse button on the navbar instead of flowing the menu items,
      you'll need to define a few settings.

      First, tell the navbar that its items should collapse.

      At this point, all `li`s except for `.navbar-title` will disappear. Be sure to
      add this, even if you only put the responsive button inside.

      The `=` in the responsive button should automatically be changed to a three-bar icon.

  article.code
    .if-semantic
      :markdown
        <span>

            .navbar.navbar-collapse {
              @include navbar($collapse: true);
            }

    :markdown
      <span>

          <div class="navbar navbar-collapse" data-ks-navbar>
            <nav>
              <ul>
                <!-- This will be the title and
                     the responsive collapse button -->
                <li class="navbar-title">
                  <h1>Acme Corp</h1>
                  <button role="button">=</button>
                </li>

                <!-- These are the collapsed navigation
                     items. -->

                <li>
                  <a href="/products/">Products</a>
                </li>
                <li>
                  <a href="/blog/">Blog</a>
                </li>
              </ul>
            </nav>
          <div>

.if-semantic
  .document
    article.article
      :markdown 
        ### Define a breakpoint (optional)

        By default, the navbar will collapse menu items at screen sizes narrower than a tablet
        (according to the width defined as `$tablet`). To customize this, you can change the `$breakpoint`.

        The `$breakpoint` is simply the screen width at which responsive styling
        should cease to be applied. In the above example, we use one of the provided
        screen size variables. However, you may also pass in a css measurement value.

      +screen-sizes

    article.code
      :markdown
        <span>

            .navbar {
              @include navbar($breakpoint: $tablet, $collapse: true);
            }

            @include navbar($breakpoint: 768px, $collapse: true);
            @include navbar($breakpoint: 200em, $collapse: true);
            @include navbar($breakpoint: 500pt, $collapse: true);
