extends ../../_layout

block hero-title
  h1 Tables

block variables
  - var showFooter = false
  - var title = "Tables"

block ui-stylesheet
  link(rel="stylesheet" href="/css/pages/docs/ui/tables.min.css")

block documents
  .document
    article.article
      :markdown
        The base styling for tables is very minimal, focused mainly on correcting
        the weirdness of default HTML styling.

      table.table
        thead
          tr
            th First
            th Last
            th Role
        tbody
          tr
            td John
            td Smith
            td Consultant
          tr
            td Mary
            td Todd
            td President
          tr
            td Jane
            td Doe
            td Marketer
          tr
            td Albert
            td West
            td Graphic Design

    article.code
      :markdown
        <span>

            <table class="table">
              <thead>
                <tr>
                  <th>First</th>
                  <th>Last</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Smith</td>
                  <td>Consultant</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Todd</td>
                  <td>President</td>
                </tr>
                ...
              </tbody>
            </table>

      .if-semantic
        :markdown
          <span>

              .table {
                @import table();
              }

  .document
    article.article
      :markdown
        # Blank tables

        While the tables default to something structured and readable,
        this may not work with your theme either. For that reason, there
        is an option for blank tables.

      .if-semantic
        :markdown
          The standalone `table-blank()` mixin available if the element
          already has `table()` applied to it elsewhere.

      table.table.table-blank
        thead
          tr
            th First
            th Last
        tbody
          tr
            td Jane
            td Doe
          tr
            td John
            td Smith

    article.code
      :markdown
        <span>

            <table class="table table-blank">
              <thead>
                <tr>
                  <th>First</th>
                  <th>Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jane</td>
                  <td>Doe</td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>Smith</td>
                </tr>
              </tbody>
            </table>

      .if-semantic
        :markdown
          <span>

              .table.table-blank {
                @import table($blank: true);
              }

  .document
    article.article
      :markdown
        # Readability tweaks

        ## Zebra-striping

      .if-semantic
        :markdown
          The standalone `table-zebra()` is also available for elements
          that already have `table()` applied.

      table.table.table-zebra
        thead
          tr
            th First
            th Last
        tbody
          tr
            td Jane
            td Doe
          tr
            td Bob
            td Smith
          tr
            td Craig
            td Thompson
          tr
            td Doug
            td Winston

    article.code
      :markdown
        <span>

            <table class="table table-zebra">
              <thead>
                <tr>
                  <th>First</th>
                  <th>Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jane</td>
                  <td>Doe</td>
                </tr>
                <tr>
                  <td>Bob</td>
                  <td>Smith</td>
                </tr>
                <tr>
                  <td>Craig</td>
                  <td>Thompson</td>
                </tr>
                <tr>
                  <td>Doug</td>
                  <td>Winston</td>
                </tr>
              </tbody>
            </table>

      .if-semantic
        :markdown
          <span>

              .table.zebra {
                @import table($zebra: true);
              }

  .document
    article.article
      h1 Row hover

      .if-semantic
        :markdown
          The standalone `table-hover()` is also available for elements that
          already have `table()` applied.

      table.table.table-hover
        thead
          tr
            th First
            th Last
        tbody
          tr
            td Jane
            td Doe
          tr
            td Bob
            td Smith
          tr
            td Craig
            td Thompson
          tr
            td Doug
            td Winston

    article.code
      :markdown
        <span>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>First</th>
                  <th>Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jane</td>
                  <td>Doe</td>
                </tr>
                <tr>
                  <td>Bob</td>
                  <td>Smith</td>
                </tr>
                <tr>
                  <td>Craig</td>
                  <td>Thompson</td>
                </tr>
                <tr>
                  <td>Doug</td>
                  <td>Winston</td>
                </tr>
              </tbody>
            </table>

      .if-semantic
        :markdown
          <span>

              .table.table-hover {
                @import table($hover: true);
              }

  .document
    article.article
      h1 Bordered

      .if-semantic
        :markdown
          The standalone `table-bordered()` is also available for elements that
          already have `table()` applied.

      table.table.table-bordered
        thead
          tr
            th First
            th Last
        tbody
          tr
            td Jane
            td Doe
          tr
            td Bob
            td Smith
          tr
            td Craig
            td Thompson
          tr
            td Doug
            td Winston

    article.code
      :markdown
        <span>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>First</th>
                  <th>Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jane</td>
                  <td>Doe</td>
                </tr>
                <tr>
                  <td>Bob</td>
                  <td>Smith</td>
                </tr>
                <tr>
                  <td>Craig</td>
                  <td>Thompson</td>
                </tr>
                <tr>
                  <td>Doug</td>
                  <td>Winston</td>
                </tr>
              </tbody>
            </table>

      .if-semantic
        :markdown
          <span>

              .table.table-bordered {
                @import table($bordered: true);
              }

  .document
    article.article
      h1 Combining

      p Styles are designed to be decoupled, so they can be combined with others.

      table.table.table-zebra.table-hover.table-blank
        thead
          tr
            th First
            th Last
        tbody
          tr
            td Jane
            td Doe
          tr
            td Bob
            td Smith
          tr
            td Craig
            td Thompson
          tr
            td Doug
            td Winston

    article.code
      :markdown
        <span>

            <table class="table table-zebra table-hover table-blank">
              <thead>
                <tr>
                  <th>First</th>
                  <th>Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jane</td>
                  <td>Doe</td>
                </tr>
                <tr>
                  <td>Bob</td>
                  <td>Smith</td>
                </tr>
                <tr>
                  <td>Craig</td>
                  <td>Thompson</td>
                </tr>
                <tr>
                  <td>Doug</td>
                  <td>Winston</td>
                </tr>
              </tbody>
            </table>

      .if-semantic
        :markdown
          <span>

              .table.table-hover.table-zebra.table-blank {
                @import table($hover: true, $blank: true, $zebra: true);
              }
