extends ../../../_layout

block hero-title
  h1 Icons

block ui-stylesheet
  link(rel="stylesheet" href="/css/pages/docs/ui/icons.min.css")

block variables
  - var showFooter = false
  - var title = "Icons"

block documents

  include ../../../../../../../docs/svgs/icons-responsive.svg

  .document
    article.article.article-full
      :markdown
        # SVG Icons from PixelBuddha

        [PixelBuddha](http://pixelbuddha.net) has designed a free set of responsive SVG
        icons specifically for Kickstart. This has also been made available as a [standalone open source repository](http://todo.example.com)

        Each icon is available in three different levels of fidelity (meaning "level of detail").
        You can use any single icon in a single fidelity or show the icon responsively, meaning
        the level of fidelity increases with the space available in the screen.

      p
        a.button.button-primary(href="#") Download Kickstart SVGs

      p Resize your browser to view the different fidelities.

      .row
        each icon in icons
          .icon-holder
            svg.icon
              use(xlink:href="##{icon}")
            p= icon

  .document
    article.article
      :markdown
        ## Use a single fidelity
        ### Method 1: Link directly

        Icons come in the fidelities Small, Regular, and Large.

        To use the individual SVG files, download them from the Kickstart Store or via
        the button above.

      p
        img.icon(src="/svgs/rg/foo.svg")
        img.icon(src="/svgs/rg/bar.svg")
        img.icon(src="/svgs/rg/fizz.svg")

    article.code
      :markdown
        <span>

            <img class="icon" src="/svgs/rg/foo.svg" />

  .document
    article.article
      :markdown
        ### Method 2: Use a "sprite"

        Img tags aren't ideal when using multiple icons on a page because it adds to the number
        of HTTP requests needed to display the entire page.

        As an alternative, link to the definition file for the fidelity size you want and add the icon
        id as an anchor to the end of the url. This has the same performance effect as using an image
        sprite.

        Keep in mind, when loading several icons from the same definition file, you'll only need
        to make the request once!

      p
        svg.icon
          use(xlink:href="/svgs/icons-sm.svg#foo")
        svg.icon
          use(xlink:href="/svgs/icons-sm.svg#bar")
        svg.icon
          use(xlink:href="/svgs/icons-sm.svg#fizz")

    article.code
      :markdown
        <span>

            <svg class="icon" data-ks-svg="/svgs/icons-sm.svg#foo">
              <use xlink:href="/svgs/icons-sm.svg#foo" />
            </svg>

  .document
    article.article.article-full
      :markdown
        ## Use responsive icons

        Responsive icons vary in level of fidelity based on the width of the screen. There are several
        ways to load these. All of which work with IE, Chrome, Firefox, and Safari and preserve cacheability.

  .document
    article.article
      :markdown
        #### Method 1: Inline SVG definition

        This method requires you to [add the contents](#) of `icons-responsive.svg` to your HTML file
        in which you intend to use the icon or icons.

        This requires no extra HTTP request for the icon but adds a lot of markup
        to your HTML file, causing it to take slightly longer to download.

        Simply add the id of the icon you wish to use to the `xlink:href` attribute of the
        `<use>` tag.

      p
        svg.icon
          use(xlink:href="#foo")
        svg.icon
          use(xlink:href="#bar")
        svg.icon
          use(xlink:href="#fizz")

    article.code
      :markdown
        <span>

            <!-- Put the contents of the icons-responsive.svg anywhere in your markup -->
            <svg style="display: none" xmlns="...">
              <symbol id="foo">
                ...
              </symbol>
              ...
            </svg>

            <!-- Refer to the icon ids wherever you want with this syntax. -->
            <svg class="icon">
              <use xlink:href="#foo" />
            </svg>

  .document
    article.article
      :markdown
        #### Method 2: Use a "sprite"

        This method is identical to what we did with the single fidelity icon above, however
        there are important performance considerations to make here.

        By linking directly to the svg definition file, we only need to make one HTTP request
        and we don't add a lot of markup to the HTML file.

        However, in order to get the responsive classes to work correctly, the kickstart.js
        file must be included to shim the svg tag in all browsers. This may cause a microscopic delay
        in the icons displaying.

      p
        svg.icon
          use(xlink:href="/svgs/icons-responsive.svg#foo")
        svg.icon
          use(xlink:href="/svgs/icons-responsive.svg#bar")
        svg.icon
          use(xlink:href="/svgs/icons-responsive.svg#fizz")

    article.code
      :markdown
        <span>

            <svg class="icon">
              <use xlink:href="/svgs/icons-responsive.svg#foo" />
            </svg>
