extends ../../4.x-layouts/_layout

block menuVars
  - var menuItem = "docs"
  - var docCategory = "ui"

block page-stylesheet
  block ui-stylesheet
  script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js")
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/solarized_dark.min.css")
  link(rel="stylesheet" href="/css/pages/docs/index.min.css")
  script.
    hljs.initHighlightingOnLoad();

block bleed
  header.doc-hero
    block hero-title
    block hero-example

block header
  - if (docCategory == "ui")
    include headers/_ui_library

  - if (docCategory == "advanced")
    include headers/_advanced
    
  - if (docCategory == "page-generator")
    include headers/_page-generator

block content
  //- Below tablet, this is a wrapping container.
  .fixed-area
    #marker

    //- Two main containers here, each are fixed to the screen

    //- Fixed sidebar
    aside.fixed-toc
      h1 #{title}
      form.switches
        .form_group
          .switch(data-ks-tooltip="Turn on if you're using the Sass mixins" data-ks-tooltip-color="green")
            input#docs-semantic(type="checkbox")
            label(for="docs-semantic")
          | &nbsp;
          span Semantic Sass
        .form_group
          .switch(data-ks-tooltip="Turn on if you're using jQuery" data-ks-tooltip-position="bottom" data-ks-tooltip-color="green")
            input#docs-jquery(type="checkbox")
            label(for="docs-jquery")
          | &nbsp;
          span jQuery

      #toc
        p.creating-table Creating table of contents...

    //- Fixed main pane
    main.fixed-main

      //- Within fixed-main, there are "Documents." Each document has both a
      //- general content area and a code snippet.

      //- Constrains width of document area
      section.document-container
        block documents

      .push

  block postJS
    block postDocsJS
    script k$.status({text: "You are viewing experimental documentation for the next version"})
