extends ../../4.x-layouts/_layout

block bleed
  header.doc-hero
    block hero-title
    block hero-example

block header
  include headers/_ui_library

block container
  .row
    main.fullpane.readable
      block fullPane

block postJS
  script.
    k$.nav('.docs-nav')
