extends ../../../_layout

block variables
  - var showFooter = false
  - var title = "Containers"

block hero-title
  h1 Containers

block ui-stylesheet
  link(rel="stylesheet" href="/css/pages/docs/ui/containers.min.css")

block documents
  .document
    article.article.article-full
      :markdown
        # Generic containers
        
        Containers are both simple pieces of UI for organizing content, and part of a
        core common language for third party components to speak.

  .document
    article.article
      :markdown
        ## Simple container

        The simplest container has a familiar padding used with other components and 
        rounded borders (varies with theme, of course.)

      .container Hello world

    article.code
      :markdown
        <span>

            <div class="container">Hello World</div>

      .if-semantic
        :markdown
          <span>

              .container {
                @include container();
              }

  .document
    article.article
      :markdown
        ## Colors

      .container.container-blue
        header New message
        main Hello world
        footer All rights reserved

      .ifnot-semantic
        :markdown
          To add a color, use the additional `.container-[color]` class

        +available-colors('container')

      .if-semantic
        :markdown
          Pass in a value to the `$color` parameter to apply different colors to
          a container.

    article.code
      :markdown
        <span>
            
            <div class="container container-blue">
              <header>New message</header>
              <main>Hello world</main>
              <footer>All rights reserved</footer>
            </div>

      .if-semantic
        :markdown
          <span>

              .container.container-blue {
                @include container(map-get($colors, blue));
              }

  .document
    article.article
      :markdown 
        ## Subcontainers

        For subcontainers, simply use the `<header>`, `<main>`, and `<footer>`
        HTML5 tags.

        ### Header

      .container
        header New message
        main Hello world

    article.code
      :markdown
        <span>

            <div class="container">
              <header>New message</header> 
              <main>Hello World</body>
            </div>

      .if-semantic
        :markdown
          <span>

              .container {
                @include container();
              }

  .document
    article.article
      :markdown 
        ### Footer

      .container
        <main>Hello world</main>
        <footer>&copy; Copyright, all right reserved</footer>

    article.code
      :markdown
        <span>

            <div class="container">
              <main>Hello World</main>
              <footer>&copy; Copyright all rights reserved</footer>
            </div>

      .if-semantic
        :markdown
          <span>

              .container {
                @include container();
              }

  // .document
  //   article.article
  //     :markdown 
  //       ### Left sidebar
  //
  //     .container
  //       main
  //         aside.right
  //           h1 Table of contents
  //           ul
  //             li Page one
  //             li Page two
  //             li Page three
  //         | Hello world
  //
  //   article.code
  //     :markdown
  //       <span>
  //
  //           <div class="container">
  //             Hello World
  //             <aside>
  //               <h1>Table of contents</h1>
  //               <ul>
  //                 <li>Page 1</li>
  //                 <li>Page 2</li>
  //                 <li>Page 3</li>
  //               </ul>
  //             </aside>
  //           </div>
  //
  //     .if-semantic
  //       :markdown
  //         <span>
  //
  //             .container {
  //               @include container();
  //             }
  //
  // .document
  //   article.article
  //     :markdown 
  //       ### Right sidebar
  //
  //     .container
  //       | Hello world
  //       aside.right
  //         h1 Table of contents
  //         ul
  //           li Page one
  //           li Page two
  //           li Page three
  //
  //   article.code
  //     .ifnot-semantic
  //       :markdown
  //         <span>
  //
  //             <div class="container">
  //               Hello World
  //               <aside class="right">
  //                 <h1>Table of contents</h1>
  //                 <ul>
  //                   <li>Page 1</li>
  //                   <li>Page 2</li>
  //                   <li>Page 3</li>
  //                 </ul>
  //               </aside>
  //             </div>
  //
  //     .if-semantic
  //       :markdown
  //         <span>
  //
  //             <div class="container">
  //               Hello World
  //               <aside>
  //                 <h1>Table of contents</h1>
  //                 <ul>
  //                   <li>Page 1</li>
  //                   <li>Page 2</li>
  //                   <li>Page 3</li>
  //                 </ul>
  //               </aside>
  //             </div>
  //
  //             .container {
  //               @include container();
  //
  //               aside {
  //                 flex-whatever: right;
  //               }
  //             }

  // .document
  //   article.article
  //     :markdown
  //       ## Mixing
  //
  //   article.code
  //     :markdown
  //       <span>
  //
  //           // See examples above

  .document
    article.article
      :markdown
        ## With other components

      .container
        header.navigation(data-ks-navbar)
          nav
            ul
              li.navbar-title
                h1 Edit your profile

            ul
              li
                | More options
                ul
                  li: a(href="#") One
                  li: a(href="#") Two
                  li: a(href="#") Three

        main
          .profile
            img(src="/img/mountains.png" style="width: 150px;height: 150px")

            article
              form
                .form_group
                  input(type="text" placeholder="Name")

                .form_group
                  textarea(placeholder="Tell us a bit about yourself.")

        footer
          button.button.button-primary Save

    article.code
      :markdown
        <span>

            <div class="container">
              <header class="navigation">
                <nav>
                  <ul>
                    <li class="navbar-title">
                      <h1>Edit your profile</h1>
                    </li>
                  </ul>
                  <ul>
                    <li>More options
                      <ul>
                        ...
                      </ul>
                    </li>
                  </ul>
                </nav>
              </header>

              <main>
                <!-- See thumbnail content below -->
              </main>

              <footer>
                <button class="button button-primary">Save</button>
              </footer>
            </div>

      .if-semantic
        :markdown
          <span>

              .container { @include container; }
              .navigation { @include navigation; }
              .button.button-primary { @include button($primary-color)

  .document
    article.article.article-full
      :markdown
        # Images

        All images are given some baseline styling to make them work best within content.
        Here are some additional styles that are helpful in getting content and images to live 
        in harmony:

  .document
    article.article
      :markdown
        ## Treatments

        ### Bordered

        Bordered images help separate images and their captions from the main content.
        article.code

      figure.thumbnail
        img(src="/img/mountains.png")
        figcaption Look at these beautiful mountains!

    article.code
      :markdown
        <span>

            <figure class="thumbnail">
              <img src="mountains.png" />
              <figcaption>Look at these beautiful mountains!</figcaption>
            </figure>

      .if-semantic
        :markdown
          <span>

              .thumbnail {
                @include thumbnail();
              }

  .document
    article.article
      h2 Thumbnail Content

      .example
        .thumbnail-content
          img(src="/img/mountains.png" style="width: 150px;height: 150px")
          article
            h1.toc-exempt Imagine living among the mountains
            p In one of our gorgeous luxury timeshare condominiums, finally this dream can become a reality!

        .thumbnail-content
          article
            h1.toc-exempt Imagine living among the mountains
            p In one of our gorgeous luxury timeshare condominiums, finally this dream can become a reality!
          img(src="/img/mountains.png" style="width: 150px;height: 150px")

        :markdown
          The implementation of this container is pretty simple. You'll simply
          need an image and any html element to house the content.

          To float the image right, simply follow it after the content instead of
          before.  

    article.code
      .if-semantic
        :markdown
          <span>

              <div class="feature">
                <img src="mountains.png" />
                <article>
                  <h1>Imagine living among the mountains</h1>
                  <p>...</p>
                </article>
              </div>

              <div class="feature">
                <article>
                  <h1>Imagine living among the mountains</h1>
                  <p>...</p>
                </article>
                <img src="mountains.png" />
              </div>

              .feature {
                @include thumbnail-content();
              }

      .ifnot-semantic
        :markdown
          <span>

              <div class="thumbnail-content">
                <img src="mountains.png" />
                <article>
                  <h1>imagine living among the mountains</h1>
                  <p>...</p>
                </article>
              </div>

              <div class="thumbnail-content">
                <article>
                  <h1>imagine living among the mountains</h1>
                  <p>...</p>
                </article>
                <img src="mountains.png" />
              </div>

  .document
    article.article
      :markdown
        If you don't want to use the `img` element for your image
        (say you want to set the image as a background image), simply
        use the `figure` element instead.

    article.code
      .ifnot-semantic
        :markdown
          <span> 
            
              <div class="thumbnail-content">
                <figure style="background-image: url('mountains.png');" />
                <article>
                  <h1>imagine living among the mountains</h1>
                  <p>...</p>
                </article>
              </div>

              <div class="thumbnail-content">
                <article>
                  <h1>imagine living among the mountains</h1>
                  <p>...</p>
                </article>
                <figure style="background-image: url('mountains.png');" />
              </div>

      .if-semantic
        :markdown
          <span>

              <div class="feature">
                <figure style="background-image: url('mountains.png');" />
                <article>
                  <h1>Imagine living among the mountains</h1>
                  <p>...</p>
                </article>
              </div>

              <div class="feature">
                <article>
                  <h1>Imagine living among the mountains</h1>
                  <p>...</p>
                </article>
                <figure style="background-image: url('mountains.png');" />
              </div>

              .feature {
                @include thumbnail-content();
              }
