extends ../_layout

block hero-title
  h1 Advanced

block variables
  - var showFooter = false
  - var title = 'Advanced'
  
block menuVars
  - var docCategory = "advanced"

block subMenuVars
  - var subMenuItem = "advanced"

block documents
  .if-semantic
    .document
      article.article.article-full
        :markdown
          # Advanced
