doctype html5
html
  head
    link(rel="stylesheet" href="../css/kickstart.css")
    script(src="/js/kickstart.js")
    style.
      .column-example { 
        background: black; 
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
      }

  body
    .wrapper
      h1 Static tests
      h2 Grid
      h3 Regular columns
      .row
        .col-6: .column-example Test
        .col-6: .column-example Test

      .row
        .col-3: .column-example Test
        .col-3: .column-example Test
        .col-3: .column-example Test
        .col-3: .column-example Test

      .row
        .col-6: .column-example Test
        .col-3: .column-example Test
        .col-3: .column-example Test

    .wrapper
      h2 Navigation

      .navbar
        nav
          ul
            li Home

      .navbar
        nav
          ul
            li.navbar-title
              h1 Title
            li: a(href="#") Home

      .navbar
        nav
          ul
            li.navbar-title
              h1 Title


      .navbar
        nav
          ul
            li: a(href="#") Home

      .navbar
        nav
          ul
            li: a.button.button-primary(role="button" href="#") Home

      .navbar
        nav
          ul
            li Home
            li: a(href="#") Home
            li: a.button.button-primary(role="button" href="#") Home

      .navbar
        nav
          ul
            li
              ul.button-group.button-primary(role="button")
                li: a(href="#") Foo
                li: a(href="#") Bar

      .navbar
        nav
          ul
            li Home
            li: a(href="#") Home
            li: a.button.button-primary(role="button" href="#") Home
            li
              ul.button-group.button-primary(role="button")
                li: a(href="#") Foo
                li: a(href="#") Bar
            li
              ul.button-group.button-primary(role="button")
                li: a(href="#") Foo
                li
                  button.button-dropdown
                  ul
                    li: a(href="#") Bar
                    li: a(href="#") Bar
            li
              button.button.button-primary(role="button")
                | Foo
                ul
                  li: a(href="#") Bar
                  li: a(href="#") Bar

      .navbar.with-dropdown
        nav
          ul
            li Home
            li: a(href="#") Home
            li: a.button.button-primary(role="button" href="#") Home
            li
              | Menu
              ul
                li: a(href="#") Option
                li: a(href="#") Option
                li: a(href="#") Option
                li: a(href="#") Option
            li
              ul.button-group.button-primary(role="button")
                li: a(href="#") Foo
                li: a(href="#") Bar
            li
              ul.button-group.button-primary(role="button")
                li: a(href="#") Foo
                li
                  button.button-dropdown
                  ul
                    li: a(href="#") Bar
                    li: a(href="#") Bar
            li
              button.button.button-primary(role="button")
                | Foo
                ul
                  li: a(href="#") Bar
                  li: a(href="#") Bar

      .navbar
        nav
          ul
            li
              ul.button-group.button-primary(role="button")
                li: a(href="#") Foo
                li
                  button.button-dropdown
                  ul
                    li: a(href="#") Bar
                    li: a(href="#") Bar

      .navbar
        nav
          ul
            li
              button.button.button-primary(role="button")
                | Foo
                ul
                  li: a(href="#") Bar
                  li: a(href="#") Bar

      .form.form-horizontal
        .form_group.form_group-horiztonal
          label Label
          button.button Button
        .form_group.form_group-horizontal
          label.checkbox
            input(type="checkbox")
            | Sign up for newsletter

    script.
      k$.nav('.with-dropdown')
