extends ../../../_layout

block variables
  - var showFooter = false
  - var title = "Tooltips"

block ui-stylesheet
  link(rel="stylesheet" href="/css/pages/docs/ui/tooltips.min.css")

mixin colors
  p
    span.tooltip_trigger
      a(href="#") Hover
      span.tooltip I'm a tooltip!
    | &nbsp;
    span.tooltip_trigger
      a(href="#") over
      span.tooltip.tooltip-red I'm a tooltip!
    | &nbsp;
    span.tooltip_trigger
      a(href="#") any
      span.tooltip.tooltip-orange I'm a tooltip!
    | &nbsp;
    span.tooltip_trigger
      a(href="#") of
      span.tooltip.tooltip-yellow I'm a tooltip!
    | &nbsp;
    span.tooltip_trigger
      a(href="#") these
      span.tooltip.tooltip-green I'm a tooltip!
    | &nbsp;
    span.tooltip_trigger
      a(href="#") words
      span.tooltip.tooltip-blue I'm a tooltip!

block hero-title
  h1 Tooltips

block documents
  .document
    article.article
      :markdown
        Tooltips in Kickstart come in many flavors with an optional additional element
        for specifying the part of the html that will trigger the appearance of the
        tooltip(s)

        # Single element

        Tooltips are implemented in a dataset attribute of the HTML.

        Tooltips have a **trigger** (the hovered item that launches the tooltip)
        and an **anchor** (the element the tooltip anchors to).

      .example
        button(data-ks-tooltip="I'm a tooltip") Hover over me

    article.code
      :markdown
        <span>

            <button class="button" data-ks-tooltip="I'm a tooltip">Hover over me</button>

  .document
    article.article
      :markdown
        ## Optional trigger

      :markdown
        By default, the trigger and the anchor are the same element. However,
        an optional <span class="ifnot-semantic"><code>.tooltip_trigger</code> class</span>
        <span class="if-semantic"><code>tooltip-trigger()</code> mixin</span> is available.
        This defines a general hover zone where child tooltips will show.

      .tooltip_trigger.example
        ul.list.list-unstyled
          li
            a(href="#" data-ks-tooltip="Create a new account here") Signup
          li Benefits to signing up include our monthly email
          li
            a(href="#" data-ks-tooltip="Start here if you already have an account" data-ks-tooltip-position="bottom") Login

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <div class="tooltip_trigger">
                <ul class="list list-unstyled">
                  <li>
                    <a href="#" data-ks-tooltip="Create a new account here">Signup</a>
                  </li>
                  <li>Benefits to signing up include our monthly email</li>
                  <li>
                    <a href="#" data-ks-tooltip="Start here if you already have an account" data-ks-tooltip-position="bottom">Login</a>
                  </li>
                </ul>
              </div>

      .if-semantic
        :markdown
          <span>

              <div class="decision">
                <ul>
                  <li>
                    <a href="#" data-ks-tooltip="Create a new account here">Signup</a>
                  </li>
                  <li>Benefits to signing up include our monthly email</li>
                  <li>
                    <a href="#" data-ks-tooltip="Start here if you already have an account" data-ks-tooltip-position="bottom">Login</a>
                  </li>
                </ul>
              </div>

              .decision {
                @include tooltip_trigger();
              }

  .document
    article.article
      :markdown
        # Tooltips as elements

        Adding content to the dataset of an element only allow for plaintext.
        However, your tooltips may need something more sophisticated that can
        only be expressed by HTML.

        For this, tooltips can also be created as individual HTML elements.

        <span class="notice">Avoid nesting flow elements in phrasing elements.</span>

        Flow elements like `<div>` or `<p>` are not allowed nested in a `<p>`
        Some browsers will even take it right out for you. Stick to phrasing
        elements like `<span>` or `<a>`

        More on [flow and phrasing](http://www.w3.org/TR/html-markup/common-models.html) elements.

      .example
        p
          | The rain in&nbsp;
          span.tooltip_trigger
            a(href="#") Spain
            span.tooltip <img src="/img/spain.png" style="width: 50px; margin: 0px auto;display: block;"/>Spain is a country in <em>Europe</em>.
          |  falls mainly on the plains.

      .if-semantic
        :markdown
          Note there is no special mixin for `.tooltip` as the content is so specific
          to being a tooltip, the class should be semantic already.

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <p>The rain in
                <span class="tooltip_trigger">
                  <a href="#">Spain</a>
                  <span class="tooltip">
                    <img src="/img/spain.png" style="width: 50px; margin: 0px auto; display: block;"/>
                    Spain is a country in <em>Europe</em>
                  </span>
                  falls mainly on the plain.
                </span>
              </p>

      .if-semantic
        :markdown
          <span>

              <p>The rain in
                <span class="country">
                  <a href="#">Spain</a>
                  <span class="tooltip">
                    <img src="/img/spain.png" style="width: 50px; margin: 0px auto; display: block;"/>
                    Spain is a country in <em>Europe</em>
                  </span>
                  falls mainly on the plain.
                </span>
              </p>

              .country {
                @include tooltip_trigger();
              }

  .document
    article.article
      :markdown
        # Coloring

      .example
        p
          | Try the colors&nbsp;
          span(data-ks-tooltip="I'm red" data-ks-tooltip-color="red") Red
          | ,&nbsp;
          span(data-ks-tooltip="I'm green" data-ks-tooltip-color="green") Green
          | , and&nbsp;
          span(data-ks-tooltip="I'm blue" data-ks-tooltip-color="blue") Blue 
          | (Hover over these)

        +colors

      :markdown
        Choosing a color is as easy as adding a data attribute to the flow
        element that spawns your tooltip or appending a `tooltip-[color]` class to `.tooltip`...

      +available-colors('tooltip')

    article.code
      :markdown
        <span>

            <p>
              Feel free to check out our
              <span data-ks-tooltip="Gallery closes at 9pm" data-ks-tooltip-color="red">
                Gallery
              </span>.
            </p>

            <div class="tooltip_trigger">
              <div class="tooltip tooltip-red">I'm a tooltip</span>
            </div>

  .document
    article.article
      :markdown
        You can also set the colors of tooltips for an entire trigger area

    article.code
      .ifnot-semantic
        :markdown
          <span>

              <div class="tooltip_trigger tooltip_trigger-yellow">
                ...
              </div>

      .if-semantic
        :markdown
          <span>

              .tooltip_trigger {
                @include tooltip_trigger(map-get($colors, yellow));
              } 

  .document
    article.article
      :markdown
        # Positioning

        Tooltips can be positioned to the top, left, right, or bottom.

      .example
        .tooltip_trigger
          button.button Top
          span.tooltip I'm on top
          | &nbsp;
        .tooltip_trigger
          button.button Left
          span.tooltip.tooltip-left I'm on the left
          | &nbsp;
        .tooltip_trigger
          button.button Right
          span.tooltip.tooltip-right I'm on the right
          | &nbsp;
        .tooltip_trigger
          button.button Bottom
          span.tooltip.tooltip-bottom I'm on the bottom

    article.code
      :markdown
        <span>

            <div class="tooltip_trigger">
              <button class="button">Top</button>
              <span class="tooltip">I'm on top</span>
            </div>
            <div class="tooltip_trigger">
              <button class="button">Left</button>
              <span class="tooltip tooltip-left">I'm on the left</span>
            </div>

  .document
    article.article
      :markdown
        Tooltips use a familiar format for positioning with data-attributes.

      .example
        p You can position on the <span data-ks-tooltip="I'm on the left" data-ks-tooltip-position="left">left</span> or on the <span data-ks-tooltip="I'm on the right" data-ks-tooltip-position="right">right</span>.
        p Or on the <span data-ks-tooltip="I'm on the bottom" data-ks-tooltip-position="bottom">bottom</span> or <span data-ks-tooltip="I'm on the top" data-ks-tooltip-position="top">top</span>

    article.code
      :markdown
        <span>

            <p>
              You can position on the
              <span data-ks-tooltip="I'm on the left" data-ks-tooltip-position="left">left</span>
              or on the
              <span data-ks-tooltip="I'm on the right" data-ks-tooltip-position="right">right</span>.
            </p>

  .document
    article.article.article-full
      :markdown
        ## Combining

      .example.tooltip_trigger
        ul
          li: a(href="#") My account
          li: a(href="#" data-ks-tooltip="You need to update your profile." data-ks-tooltip-color="red" data-ks-tooltip-position="left") Dashboard
          li: a(href="#") Settings
          li: a(href="#") Recent
          li: a(href="#") Favorites
          li: a(href="#" data-ks-tooltip-color="blue" data-ks-tooltip-position="bottom" data-ks-tooltip="New updates are waiting for you.") Updates
